<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BestWorker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="BestWorker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <BestWorker.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>10.0.0.95</value>
            </setting>
            <setting name="repDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="repName" serializeAs="String">
                <value/>
            </setting>
            <setting name="user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>50sham70</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>work</value>
            </setting>
            <setting name="endConn" serializeAs="String">
                <value>ConvertZeroDatetime=True;AllowZeroDateTime=True</value>
            </setting>
            <setting name="addTaskParam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="idOb" serializeAs="String">
                <value/>
            </setting>
            <setting name="applianceID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="group" serializeAs="String">
                <value/>
            </setting>
        </BestWorker.Properties.Settings>
        <BestWorker.Settings>
            <setting name="nick" serializeAs="String">
                <value/>
            </setting>
            <setting name="firstname" serializeAs="String">
                <value/>
            </setting>
            <setting name="surname" serializeAs="String">
                <value/>
            </setting>
            <setting name="patronymic" serializeAs="String">
                <value/>
            </setting>
            <setting name="pol" serializeAs="String">
                <value/>
            </setting>
            <setting name="versionShown" serializeAs="String">
                <value/>
            </setting>
            <setting name="login" serializeAs="String">
                <value/>
            </setting>
            <setting name="conn" serializeAs="String">
                <value/>
            </setting>
            <setting name="workSendKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="workParam" serializeAs="String">
                <value/>
            </setting>
        </BestWorker.Settings>
    </userSettings>
</configuration>
